{% load spirit_tags i18n %}

<div >
<div id="abc" class="comments" >

    {% for c in comments %}

        <div class="comment{% if c.action %} is-highlighted{% endif %}" id="c{{forloop.counter0|add:comments.start_index }}" data-number="{{ forloop.counter0|add:comments.start_index }}" data-pk="{{ c.pk }}">

            {% if not c.is_removed %}

                <div class="comment-media">
                    <div class="comment-img">
                        <img class="comment-avatar" src="{% get_gravatar_url user=c.user size=50 %}" />
                    </div>

                    <div class="comment-body">

                        <div class="comment-info">

                            <div class="comment-username">
                                <a class="username{% if c.user.st.is_administrator %} is-admin{% elif c.user.st.is_moderator %} is-mod{% endif %}" href="{{ c.user.st.get_absolute_url }}">{{ c.user.username }}</a><span class="comment-realname">{{ c.user.get_full_name }}</span>
                            </div>

                            <ul class="comment-date">
                                {% if c.modified_count > 0 %}
                                    <li><a href="{% url "spirit:comment:history:detail" comment_id=c.pk %}"><i class="fa fa-pencil"></i> {{ c.modified_count }}</a></li>
                                {% endif %}
                                ""
                                <li title="{{ c.date }}">{{ c.date|shortnaturaltime }}</li>
                            </ul>

                        </div>

                        <div class="comment-text">
                            {% if not c.action %}
                                {% post_render_comment comment=c %}
                            {% else %}
                                <p>{% get_comment_action_text c.action %}.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if not c.action %}
                    <ul class="comment-actions">
                        {% if user.is_authenticated %}
                            {% if user.st.is_moderator %}
                                <li><a href="{% url "spirit:comment:delete" c.pk %}"><i class="fa fa-times"></i> {% trans "delete" %}</a></li>
                            {% endif %}

                            <li><a href="{% url "spirit:comment:flag:create" c.pk %}"><i class="fa fa-flag"></i> {% trans "report" %}</a></li>
                        {% endif %}

                        <li><a class="js-share" href="#" data-dialog=".js-share-{{ c.pk }}"><i class="fa fa-share"></i> {% trans "share" %}</a></li>

                        {% if user.is_authenticated %}
                            {% if c.like %}
                                <li class="comment-like"><a class="js-like" href="{% url "spirit:comment:like:delete" c.like.pk %}" data-count="{{ c.likes_count }}" ><i class="fa fa-heart"></i> {% trans "remove like" %} ({{ c.likes_count }})</a></li>
                            {% else %}
                                {% ifnotequal c.user user  %}
                                    <li class="comment-like"><a class="js-like" class="like" href="{% url "spirit:comment:like:create" c.pk %}" data-count="{{ c.likes_count }}" ><i class="fa fa-heart"></i> {% trans "like" %} ({{ c.likes_count }})</a></li>
                                {% else %}
                                    <li class="comment-like"><i class="fa fa-heart"></i> ({{ c.likes_count }})</li>
                                {% endifnotequal %}
                            {% endif %}

                            {% if user.st.is_moderator or c.user.pk == user.pk %}
                                <li><a href="{% url "spirit:comment:update" pk=c.pk %}" >{% trans "edit" %}</a></li>
                            {% endif %}

                            {% ifnotequal c.user.pk user.pk %}
                                <li><a href="{% url "spirit:comment:publish" topic_id=topic.pk pk=c.pk %}" >{% trans "quote" %}</a></li>
                                <li><a href="#reply" class="js-reply-button" data="@{{ c.user.username }}" >{% trans "reply" %}</a></li>
                            {% endifnotequal %}
                        {% endif %}
                    </ul>

                    <div class="share js-share-{{ c.pk }}" style="display: none;">
                        <div class="share-box">
                            <a class="share-close" href="#" ><i class="fa fa-times"></i> {% trans "close" %}</a>

                            {% with comment_url=c.get_absolute_url %}
                                <input class="share-url" type="text" value="{% get_share_url url=comment_url %}" />
                                <ul class="share-actions">
                                    <li><a href="{% get_twitter_share_url url=comment_url title=topic.title %}" target="_blank" rel="noopener noreferrer nofollow"><i class="fa fa-twitter"></i></a></li><!--
                                 --><li><a href="{% get_facebook_share_url url=comment_url title=topic.title %}" target="_blank" rel="noopener noreferrer nofollow"><i class="fa fa-facebook"></i></a></li><!--
                                 --><li><a href="{% get_gplus_share_url url=comment_url %}" target="_blank" rel="noopener noreferrer nofollow"><i class="fa fa-google-plus"></i></a></li><!--
                                 --><li><a href="{% get_email_share_url url=comment_url title=topic.title %}" ><i class="fa fa-envelope"></i></a></li>
                                </ul>
                            {% endwith %}

                        </div>
                    </div>
                {% endif %}

            {% else %}

                <div class="comment-media">
                    <div class="comment-img">
                        <div class="comment-removed">
                            <a href="{{ c.user.st.get_absolute_url }}">{{ c.user.username }}</a>
                        </div>
                    </div>

                    <div class="comment-body">

                        <div class="comment-text">
                            {% if user.st.is_moderator %}
                                {{ c.comment_html|safe }}
                            {% else %}
                                {% trans "This comment was deleted" %}.
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if user.st.is_moderator %}
                    <ul class="comment-actions">
                        <li><a href="{% url "spirit:comment:undelete" c.pk %}"><i class="fa fa-times"></i> {% trans "undelete" %}</a></li>
                    </ul>
                {% endif %}

            {% endif %}

        </div>

    {% endfor %}

</div>
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<style>

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>




</div>

<style>
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: orange;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 100%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>

<script>
/**
* jQuery plugin to convert a given $.ajax response xml object to json.
*
* @example var json = $.xml2json(response);
*/
$(function(){
   identify_mesh_terms();
});
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
};
async function identify_mesh_terms()
{
  var element = document.getElementsByClassName('comment');
  console.log(element.length);
  for(var i=0; i< element.length; i++)
  {
    const allterms =[];
    // console.log(i);
    var html = element[i].innerText;
    // console.log(html);
    var html = html.split('\n');
    // console.log(html);
    html = html.slice(3,-2);
    // console.log(html);
    html = html.toString();
    // console.log(html);
    html = html.split(/[\s,.()]+/);
    console.log(html);
    for (var j=0; j < html.length; j++)
    {
        if(html[j].length>3)
        // var j = 0;
        {
          var term = html[j];
          var words = [];
          var request_word_id = {
                                  "async": true,
                                  "crossDomain": true,
                                  "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=mesh&term="+term+"&sort=relevance",
                                  "method": "GET",
                                  };
          await $.ajax(request_word_id).done(function (response)
          {
              var xml_doc = $.parseXML(response);
              var jsn = $.xml2json(response);
              // console.log(jsn);
              var id_list = jsn["#document"].eSearchResult.IdList.Id;
              // console.log(jsn["#document"].eSearchResult.TranslationSet.length);
              var check = jsn["#document"].eSearchResult.TranslationSet.length;
              if (typeof check == 'undefined')
              {
                var terms = jsn["#document"].eSearchResult.QueryTranslation;
                terms = terms.split("OR");
                // words= "";
                for(var k=0; k< terms.length; k++)
                {
                  if(terms[k].includes("MeSH"))
                  {
                    // console.log(terms[k].slice(0,-13));
                    words.push(terms[k].slice(0,-13));
                    console.log(words);
                  }
                }
                // console.log(true);
                // value = "true";
                var re = new RegExp(term,"g");
                // console.log(i);
                // console.log(html);
                console.log(typeof words);
                // element[i].innerHTML = element[i].innerHTML.replace(re,"<mark>"+term+"</mark>");
                // console.log(allterms);
                if (allterms.indexOf(term.toLowerCase()) == -1)
                {
                  allterms.push(term.toLowerCase());
                  // console.log(term);
                  var hover_text="";
                  for(l=0;l<words.length;l++)
                  {
                    // words[l]=words[l].replace(/ /,'%20');
                    if(words[l][0] == " ")
                    {
                      words[l]=words[l].slice(1);
                    }
                    words[l]=words[l].replace(/"/g,'');
                    // console.log(words[l][0]);

                    var url = encodeURI("https://meshb.nlm.nih.gov/record/ui?name="+ words[l]);
                    console.log(url);
                    hover_text = hover_text + "<a target='_blank' href="+ url +">"+words[l]+"</a>"+"\n";
                  }
                  console.log(hover_text);
                  get_meaning(id_list[0], term);
                  element[i].innerHTML = element[i].innerHTML.replace(re,
                    // "<span>"+hover_text+"</span>");
                    "<p class=tooltip>"+term+" <span style=position:absolute;left:50px;bottom:18px class=tooltiptext>" + hover_text + "</span></p>");
                }
                else {

                }
              }
              else {
                // console.log(false);
                value = "false";
              }
          });
          // await sleep(3000);
          // console.log(a);
        }
    }
    // html = html.slice(23,-1);
    // html = html.slice(0,-34);
    // console.log(html);
    // console.log(html.length);

  }
  // var data = { html: html };
  // var html = element[1].innerText;
  // var header = html.slice(0,23);
  // var footer = html.slice(-34,-10);
  // console.log(header);
  // console.log(footer);
  // element[1].innerText= header+"Vineet"+footer;
  // console.log(data);
  // var json = JSON.stringify(data);
  // console.log(json);
  // check_if_a_term_is_in_mesh('abcd');
};

function get_meaning(req_id_list, select_word)
{
  // console.log(req_id_list);
    var id_list = 'id=' + encodeURIComponent(req_id_list);
    // console.log(id_list);
    var summary = {
        "async": true,
        "crossDomain": true,
        "data": id_list,
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=mesh",
        // "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=mesh&id="+req_id_list,
        "method": "GET",
    }

    $.ajax(summary).done(function (response) {
        var xml_doc = $.parseXML(response);
        var jsn = $.xml2json(response);
        console.log(jsn);
        var meaning = jsn["#document"].eSummaryResult.DocSum.Item[1]._;
        var html_word = $("<b></b>").text(select_word).append("::");
        var html_meaning = $("<i></i><br>").text(meaning);
        var base_link = 'https://www.ncbi.nlm.nih.gov/mesh/';
        var word_url = base_link + req_id_list;
        var mesh_url = "<a style='color:red' target='_blank' href="+word_url+">Read From Mesh</a> <br>";
        // var mesh_url = $('#my-link').html('<a href="http://www.google.com">Google</a>');
        var h=$(".comments").height();
        // console.log(h);
        // $("#words").height(h-50);
        // console.log(meaning);
        $("#Mesh").append(html_word,html_meaning,mesh_url);
        document.getElementById("defaultOpen").click();
        // $("#defaultOpen").click();
        // $("#words2").append(html_word,html_meaning,mesh_url);

        /* $("#words").append(html_word);
           $("#words").append(html_meaning);*/
    });
}

function check_if_a_term_is_in_mesh(term)
{
  var value;
  var request_word_id = {
                          "async": true,
                          "crossDomain": true,
                          "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=mesh&term="+term,
                          "method": "GET",
                          };
  var req_id;
  $.ajax(request_word_id).done(function (response)
  {
      var xml_doc = $.parseXML(response);
      var jsn = $.xml2json(response);
      console.log(jsn);
      var id_list = jsn["#document"].eSearchResult.IdList.Id;
      // console.log(jsn["#document"].eSearchResult.TranslationSet.length);
      var check = jsn["#document"].eSearchResult.TranslationSet.length;
      if (typeof check == 'undefined')
      {
        var terms = jsn["#document"].eSearchResult.QueryTranslation;
        terms = terms.split("OR");
        for(var i=0; i< terms.length; i++)
        {
          if(terms[i].includes("MeSH"))
          {console.log(terms[i].slice(0,-13));
          }
        }
        // console.log(true);
        value = "true";
      }
      else {
        // console.log(false);
        value = "false";
      }
      // .Translation.To.length
      // console.log(id_list);
      /*req_id = id_list[0];
      get_meaning(req_id);*/
      // get_meaning(id_list[0]);
  });
  // await sleep(2000);
  // console.log("value is " + value);
  return value;
}
function getnews()
    {
    var requrl = ('https://newsapi.org/v2/everything?' +
           'q=diabetes mellitus&' +
           'language=en&' +
           'sortBy=popularity&' +
           'apiKey=c413b869cae84e6e92ad860285700c3a');

      // var requrl = 'https://newsapi.org/v2/top-headlines?' + 'country=us&' + 'apiKey=c413b869cae84e6e92ad860285700c3a';
      // var req = new Request(url);

      var final_list = [];
      $.ajax({
        url:requrl,
        type:'GET',
        success:function(obj){
            for (i = 0; i <10; i++) {
                author = obj.articles[i].author;
                title = obj.articles[i].title;
                art_url = obj.articles[i].url;
                if(author != null)
                {
                    final_list[final_list.length] = "<a href=" + art_url + ">" +  title + "<br>"   + "</a>" + "<br>";
                }
            }
            document.getElementById('news-content').innerHTML = final_list;
        }
      });


    //   fetch(req).then(function(response) {

    //         var temp = JSON.stringify(response.json());
    //         var obj = JSON.parse(temp);
    //         var i;
    //         for (i = 0; i <10; i++) {
    //             text = obj.articles[i].author;
    //             final_list[final_list.length] = text;
    //         }
    //         document.getElementById('news-content').innerHTML = final_list;
    //         // console.log(temp);
    // })
        // document.getElementById('news-content').innerHTML = "Hello Welcome to the news";
    }

function searchTermIn(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    // $("#defaultOpen").click();
}
(function() {

// default options based on https://github.com/Leonidas-from-XIV/node-xml2js
var defaultOptions = {
    attrkey: '$',
    charkey: '_',
    normalize: false,
    explicitArray: false
};

// extracted from jquery
function parseXML(data) {
    var xml, tmp;
    if (!data || typeof data !== "string") {
        return null;
    }
    try {
        if (window.DOMParser) { // Standard
            tmp = new DOMParser();
            xml = tmp.parseFromString(data, "text/xml");
        } else { // IE
            xml = new ActiveXObject("Microsoft.XMLDOM");
            xml.async = "false";
            xml.loadXML(data);
        }
    } catch (e) {
        xml = undefined;
    }
    if (!xml || !xml.documentElement || xml.getElementsByTagName("parsererror").length) {
        throw new Error("Invalid XML: " + data);
    }
    return xml;
}

function normalize(value, options){
    if (!!options.normalize){
        return (value || '').trim();
    }
    return value;
}

function xml2jsonImpl(xml, options) {

    var i, result = {}, attrs = {}, node, child, name;
    result[options.attrkey] = attrs;

    if (xml.attributes && xml.attributes.length > 0) {
        for (i = 0; i < xml.attributes.length; i++){
            var item = xml.attributes.item(i);
            attrs[item.nodeName] = item.value;
        }
    }

    // element content
    if (xml.childElementCount === 0) {
        result[options.charkey] = normalize(xml.textContent, options);
    }

    for (i = 0; i < xml.childNodes.length; i++) {
        node = xml.childNodes[i];
        if (node.nodeType === 1) {

            if (node.attributes.length === 0 && node.childElementCount === 0){
                child = normalize(node.textContent, options);
            } else {
                child = xml2jsonImpl(node, options);
            }

            name = node.nodeName;
            if (result.hasOwnProperty(name)) {
                // For repeating elements, cast/promote the node to array
                var val = result[name];
                if (!Array.isArray(val)) {
                    val = [val];
                    result[name] = val;
                }
                val.push(child);
            } else if(options.explicitArray === true) {
                result[name] = [child];
            } else {
                result[name] = child;
            }
        }
    }

    return result;
}

/**w
 * Converts an xml document or string to a JSON object.
 *
 * @param xml
 */
function xml2json(xml, options) {
    var n;

    if (!xml) {
        return xml;
    }

    options = options || {};

    for(n in defaultOptions) {
        if(defaultOptions.hasOwnProperty(n) && options[n] === undefined) {
            options[n] = defaultOptions[n];
        }
    }

    if (typeof xml === 'string') {
        xml = parseXML(xml).documentElement;
    }

    var root = {};

    if (xml.attributes && xml.attributes.length === 0 && xml.childElementCount === 0){
      root[xml.nodeName] = normalize(xml.textContent, options);
    } else {
      root[xml.nodeName] = xml2jsonImpl(xml, options);
    }

    return root;
}

if (typeof jQuery !== 'undefined') {
    jQuery.extend({xml2json: xml2json});
} else if (typeof module !== 'undefined') {
    module.exports = xml2json;
} else if (typeof window !== 'undefined') {
    window.xml2json = xml2json;
}
})();


    $( document ).ready(function() {

        {% if user.is_authenticated %}
            $('.js-like').like( {
                csrfToken: "{{ csrf_token }}",
                likeText: "{% trans "like" %} ({count})",
                removeLikeText: '{% trans "remove like" %} ({count})',
            } );
        {% endif %}



        $('.js-share').social_share();
        hljs.initHighlightingOnLoad();

        $(".comment-text").click(function()
        {
            var s = window.getSelection();
            s.modify('extend','backward','word');
            var b = s.toString();
            s.modify('extend','forward','word');
            var a = s.toString();
            s.modify('move','forward','character');
            var select_word = b+a;
            var request_word_id = {
                                    "async": true,
                                    "crossDomain": true,
                                    "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=mesh&term="+select_word,
                                    "method": "GET",
                                    };
            var req_id;
            var word_id = $.ajax(request_word_id).done(function (response)
            {
                var xml_doc = $.parseXML(response);
                var jsn = $.xml2json(response);
                var id_list = jsn["#document"].eSearchResult.IdList.Id;
                var terms = jsn["#document"].eSearchResult.QueryTranslation;
                terms = terms.split("OR");
                for(var i=0; i< terms.length; i++)
                {
                  if(terms[i].includes("MeSH"))
                    {console.log(terms[i].slice(0,-13));
                    }
                }
                // console.log(id_list);
                /*req_id = id_list[0];
                get_meaning(req_id);*/
                get_meaning(id_list[0]);
            });

            var request_word_from_medline = {
                                    "async": true,
                                    "crossDomain": true,
                                    "url": "https://wsearch.nlm.nih.gov/ws/query?db=healthTopics&term="+select_word,
                                    "method": "GET",
                                    "Origin": "http://127.0.0.1:8000",
                                    };

                                    // var word_id_med = $.ajax(request_word_from_medline).done(function (response)
                                    // {
                                    //   console.log(response.text);
                                    // });
            var medline_meaning = $.ajax(request_word_from_medline).done(function (response)
            {
                var xml_doc = $.parseXML(response);
                var jsn = $.xml2json(response);
                var id_list = jsn["#document"].nlmSearchResult.list;
                // console.log(id_list);
                var medline = id_list.document[0].content[5];
                var medline_word = $("<b></b>").text(select_word).append(" ");
                $("#Medline").append(medline_word,medline._);
                // console.log(medline);
                /*req_id = id_list[0];
                get_meaning(req_id);*/
                // get_meaning(id_list[0]);
            });

            function get_meaning(req_id_list)
            {
              // console.log(req_id_list);
                var id_list = 'id=' + encodeURIComponent(req_id_list);
                // console.log(id_list);
                var summary = {
                    "async": true,
                    "crossDomain": true,
                    "data": id_list,
                    "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=mesh",
                    // "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=mesh&id="+req_id_list,
                    "method": "GET",
                }

                $.ajax(summary).done(function (response) {
                    var xml_doc = $.parseXML(response);
                    var jsn = $.xml2json(response);
                    console.log(jsn);
                    var meaning = jsn["#document"].eSummaryResult.DocSum.Item[1]._;
                    var html_word = $("<b></b>").text(select_word).append("::");
                    var html_meaning = $("<i></i><br>").text(meaning);
                    var base_link = 'https://www.ncbi.nlm.nih.gov/mesh/';
                    var word_url = base_link + req_id_list[0];
                    var mesh_url = "<a style='color:red' target='_blank' href="+word_url+">Read From Mesh</a> <br>";
                    // var mesh_url = $('#my-link').html('<a href="http://www.google.com">Google</a>');
                    var h=$(".comments").height();
                    // console.log(h);
                    // $("#words").height(h-50);
                    // console.log(meaning);
                    $("#Mesh").append(html_word,html_meaning,mesh_url);
                    document.getElementById("defaultOpen").click();
                    // $("#defaultOpen").click();
                    // $("#words2").append(html_word,html_meaning,mesh_url);

                    /* $("#words").append(html_word);
                       $("#words").append(html_meaning);*/
                });
            }
        })

    });


  $(".comment-text").click(function(){
    function createCORSRequest(method, url) {
  var xhr = new XMLHttpRequest();
  if ("withCredentials" in xhr) {
    // XHR for Chrome/Firefox/Opera/Safari.
    xhr.open(method, url, true);
  } else if (typeof XDomainRequest != "undefined") {
    // XDomainRequest for IE.
    xhr = new XDomainRequest();
    xhr.open(method, url);
  } else {
    // CORS not supported.
    xhr = null;
  }
  return xhr;
}

// Helper method to parse the title tag from the response.
function getTitle(text) {
  return text.match('<title>(.*)?</title>')[1];
}

  var url = 'https://utslogin.nlm.nih.gov/cas/v1/api-key/TGT-585502-gEnjqLXXI33Jw112Ri6wmSSSPZn1efcddRdQUPPil2WggRBBHT-cas';
  var data = "service=http%3A%2F%2Fumlsks.nlm.nih.gov";
  var xhr = createCORSRequest('POST', url);
  if (!xhr) {
    alert('CORS not supported');
    return;
  }
  var text;
  // Response handlers.
  xhr.onload = function() {
    text = xhr.responseText;
    // var title = getTitle(text);
    // alert('Response from CORS request to ' + url + ': ' + text);
    // console.log(text);
    // return text;
    // get1(text);
    // console.log("ST is" + text);
    var s = window.getSelection();
    s.modify('extend','backward','word');
    var b = s.toString();
    s.modify('extend','forward','word');
    var a = s.toString();
    s.modify('move','forward','character');
    // alert(b+a);

    url1 = 'https://uts-ws.nlm.nih.gov/rest/search/current?string='+b+a+/*'&searchType=exact'+*/'&ticket='+text;

    // console.log(url1);
    // var data = "service=http%3A%2F%2Fumlsks.nlm.nih.gov";
    xhr1 = createCORSRequest('GET', url1);
    if (!xhr1) {
      alert('CORS not supported');
      return;
    }

    // Response handlers.
     var myArr;
     var iden_num;
    xhr1.onload = function() {
      // text = xhr1.responseText;
      // var title = getTitle(text);
      // alert('Response from CORS request to ' + url + ': ' + text);
      // console.log(text);
      myArr = JSON.parse(this.responseText);
      iden_num =  myArr.result.results[0].ui;
      // console.log(myArr.result.results);

      var xhr2 = createCORSRequest('POST', url);
      if (!xhr2) {
        alert('CORS not supported');
        return;
      }
      var text;
      // Response handlers.
      xhr2.onload = function() {
        text = xhr2.responseText;
        url2 = 'https://uts-ws.nlm.nih.gov/rest/content/current/CUI/' +iden_num+'/definitions?ticket='+String(text);
        // console.log(url2);
        // var data = "service=http%3A%2F%2Fumlsks.nlm.nih.gov";
        xhr3 = createCORSRequest('GET', url2);
        if (!xhr3) {
          alert('CORS not supported');
          return;
        }

        // Response handlers.
         var myArr1;
        xhr3.onload = function() {
          text = xhr3.responseText;
          // var title = getTitle(text);
          // alert('Response from CORS request to ' + url + ': ' + text);
          // console.log(text);
          myArr1 = JSON.parse(this.responseText);
          // console.log(myArr1.result);
          // alert(myArr1.result[0].value);
          var x = b+a;
            document.getElementById('def').innerHTML="Word - "+x.bold();
            var y = myArr1.result[0].value;
          document.getElementById('abcd').innerHTML="Meaning - "+y.bold();
          var umls_word = $("<b></b>").text(x).append(" ");
          $("#UMLS").append(umls_word,y);

        };

        xhr3.onerror = function() {
          alert('Woops, there was an error making the request.');
        };
        xhr3.send();
      }
      xhr2.onerror = function() {
        alert('Woops, there was an error making the request.');
      };
      xhr2.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr2.send(data);
    };

    xhr1.onerror = function() {
      alert('Woops, there was an error making the request.');
    };
    xhr1.send();
  };

  xhr.onerror = function() {
    alert('Woops, there was an error making the request.');
  };
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xhr.send(data);

// Make the actual CORS request.
  // This is a sample server that supports CORS.
  // Get Serv Tick

  // get1();
  // get(text);
  // Get CUI
});

    </script>
